<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/MacFUSE-1.7.dmg</string>
			<key>Hash</key>
			<string>g50GKQCDIEtUjLnk2pROJDtvlwc=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.5" AND Ticket.version != "1.7.1"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>1746867</string>
			<key>Version</key>
			<string>1.7.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/MacFUSE-1.7.dmg</string>
			<key>Hash</key>
			<string>g50GKQCDIEtUjLnk2pROJDtvlwc=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.4" AND Ticket.version != "1.7.0"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>1746867</string>
			<key>Version</key>
			<string>1.7.0</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	Li44A3etlNygkD5Cvsbe/QuTPuQPnUUyRvFD/4UiKO0yb9H9UO/RF2lPUqI5mM/E0w63
	x0qVCraeOPOJKnAb5WQ2/2dqASh+KjDGac1wCtrYeqc8Vt4bX+uHp0W3j1XZ+jn/E+dF
	IuS/RKNxDlDycVBDuVzhhaZC/rMLrlZbkTk=
	</data>
</dict>
</plist>
