<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/MacFUSE-1.7.dmg</string>
			<key>Hash</key>
			<string>rBINayKwMU9VaZTse1baolkKx1k=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.5" AND Ticket.version != "1.7.1"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>1745061</string>
			<key>Version</key>
			<string>1.7.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/MacFUSE-1.7.dmg</string>
			<key>Hash</key>
			<string>rBINayKwMU9VaZTse1baolkKx1k=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.4" AND Ticket.version != "1.7.0"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>1745061</string>
			<key>Version</key>
			<string>1.7.0</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	QX3QW6AAEA/nqR74kElLzTvEqorN4r+f5ArMbCdJOloJgtkIaSMGdeuaEHdXXU8ZW0LK
	YtwRcu3vLlae6lgnzKMO5IkhUqae28O2vEuBzhk/el9c0fKJ6CeL7TDT4w2zatebFnJY
	TIzm7TeXGCNEyBmX8/Yl1Vibu4yWpRDNK6E=
	</data>
</dict>
</plist>
