<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/developer/MacFUSE-1.9.dmg</string>
			<key>Hash</key>
			<string>SYXKkl5/zC10a4Y1MH9KW86F0S8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.6" AND Ticket.version != "1.9.57"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>3412016</string>
			<key>Version</key>
			<string>1.9.57</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/developer/MacFUSE-1.9.dmg</string>
			<key>Hash</key>
			<string>SYXKkl5/zC10a4Y1MH9KW86F0S8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.5" AND Ticket.version != "1.9.57"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>3412016</string>
			<key>Version</key>
			<string>1.9.57</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/developer/MacFUSE-1.9.dmg</string>
			<key>Hash</key>
			<string>SYXKkl5/zC10a4Y1MH9KW86F0S8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.4" AND Ticket.version != "1.9.56"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>3412016</string>
			<key>Version</key>
			<string>1.9.56</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	mtnl1KPmFZmNbQwAJxVQJDczPkTBVtDPv/27dCecnflVu0JpmsRGOjvNMdOqkjyVpmRv
	rklInu9Lqd1sMoehAdweAkCZzzBDIklQdLfjXMxQZrkkERHfjrol75xqFfdGH1WO8odQ
	IgbeaSTdVTAM+wcb1B1Iw8mGUaU41u3lNHM=
	</data>
</dict>
</plist>
