<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/developer/MacFUSE-1.9.dmg</string>
			<key>Hash</key>
			<string>SXoF/aF66l6QzjHzdMLt14gJ64s=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.6" AND Ticket.version != "1.9.23"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>3031809</string>
			<key>Version</key>
			<string>1.9.23</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/developer/MacFUSE-1.9.dmg</string>
			<key>Hash</key>
			<string>SXoF/aF66l6QzjHzdMLt14gJ64s=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.5" AND Ticket.version != "1.9.23"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>3031809</string>
			<key>Version</key>
			<string>1.9.23</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>http://macfuse.googlecode.com/svn/releases/developer/MacFUSE-1.9.dmg</string>
			<key>Hash</key>
			<string>SXoF/aF66l6QzjHzdMLt14gJ64s=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.4" AND Ticket.version != "1.9.22"</string>
			<key>ProductID</key>
			<string>com.google.filesystems.fusefs</string>
			<key>Size</key>
			<string>3031809</string>
			<key>Version</key>
			<string>1.9.22</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	KRgv/riSW6+aVPKz7sJDHY+7r15/BU+1KdATE3rHJhX5zhJDexUUe7ucfjANR8dw7ia8
	M8CFDjzJwkZvb9mVI+UmhHKbDgl2svVwzWgEPuPf0EOgdjic7WBrBFOuKMH4fWhplF2E
	16QuQq+fDjgb3UOA9Xgsrbz/SycjC3RMQL8=
	</data>
</dict>
</plist>
